@model CST247_CLCProject.Models.Game
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
    <style>
        .CustomerLabel {
            font-size: 18px;
            font-family: Arial;
            font-weight: bold;
            color: blue;
            text-align: left;
            display: block;
        }
    </style>
</head>
<body>
    <div>
        <p> Game Page</p>


        @using (Html.BeginForm("HandleButtonClick", "Game"))
        {
            for (int r = 0; r < Model.board.Size; r++)
            {
                for (int c = 0; c < Model.board.Size; c++)
                {

                    String rowAndCol = r.ToString() + "|" + c.ToString();
                    //  Model.board.theGrid[r, c];
                    <button type="submit" name="mine" value=@rowAndCol>
                        @if (!Model.board.theGrid[r, c].isVisited)
                        {
                            <img src="~/Images/box.png" />
                        }
                        else if (Model.board.theGrid[r, c].hasABomb)
                        {
                            <img src="~/Images/bomb.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 0)
                        {
                            <img src="~/Images/zero.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 1)
                        {
                            <img src="~/Images/one.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 2)
                        {
                            <img src="~/Images/two.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 3)
                        {
                            <img src="~/Images/three.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 4)
                        {
                            <img src="~/Images/four.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 5)
                        {
                            <img src="~/Images/five.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 6)
                        {
                            <img src="~/Images/six.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 7)
                        {
                            <img src="~/Images/seven.png" />
                        }
                        else if (Model.board.theGrid[r, c].isVisited && Model.board.theGrid[r, c].numberNeighborBombs == 8)
                        {
                            <img src="~/Images/eight.png" />
                        }


                    </button>
                }
                <br />
            }

        }





    </div>
</body>
</html>
